<section class="jumbotron vcodes">
    <center>
    <br><br>
    <div class="container px-3 mb-5 mt-1">
      <div class="mb-3 mx-auto">
        <br>
        <img  draggable="false" style="z-index: 1!important; width: 160px; position: relative;" class="imagef" src="https://cdn.glitch.global/7ee49563-6ad4-4bb2-a7ca-190fcd244b83/Photo_1660086603264.png?v=1660086720000" width="320" alt="Astra Uptime">
        <br>
        <br>
        <h1 class="has-text-white title" style="font-weight: 800;">Evolation Uptime</h1>
        <br>
        <p class="content has-text-white" style="opacity: 0.6; margin-top: -20px;">Evolation Uptime Gelişmiş, Kaliteli, Kesintiniz Uptime Adresi 10 monitöre kadar projelerinizi ücretsiz aktif tutun!

</p>
        <br><br>
        <p class="content has-text-white" style="opacity: 0.6; margin-top: -20px;" id="typeText"></p>
      </div>
    </div>
    <br>
    </center>
</section>